.TodoSearch{
  margin: 50px 0px;
  width: 50%;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 0px 10px;
  font-size: 16px;
  color: #fff;
  background-color: rgb(60, 63, 82);
}
.TodoSearch:focus{
  border: 1px solid rgb(0, 136, 255);
}
.TodoSearch::placeholder{
  color: rgb(216, 219, 219);
}
.TodoSearch:disabled{
  background-color: rgba(38, 40, 53, 0.397);
  border: rgba(127, 127, 127, 0.504) 1px solid;
}